@font-face {
    font-family: 'Retro British';
    src: url(../assets/fonts/retro_british/RetroBritish-DemoVersion-Regular.otf) format(truetype);
}

.containerListFilme{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.textList{
    font-family: 'Retro British';
    font-size: 28px;
    color: var(--juice);
}