@font-face {
    font-family: 'Bonello';
    src: url(../assets/fonts/bonello/Bonello-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Retro British';
    font-weight: 400;
    src: url(../assets/fonts/retro_british/RetroBritish-DemoVersion-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Modern Sans';
    src: url(../assets/fonts/modern_sans/ModernSans-Light.otf) format(truetype);
}


*{
    margin: 0px;
    padding: 0px;
}

:root{
    --juice: #77204A;
    --berry: #5AAED3;
    --white: #fff;
    --fruit: #D91C5C;
    --white-font: #FAFAFA;
    --tea: #B1D1A0;
    --fundo: #FFEFEA;
    --sunset: #FE9947;
    --forest: #2B5C47;
    --light-green: #E1EBDC;
    --dry: #90682B;
    --olive: #B7B427; 
    --butter: #F0D385;
    --iced: #BFD3EB;
    --peach: #F9AD97;
    --limon: #FEFDCA;
    --light-blue: #F5F9FF;
    --gum: #FF87B4;
    --sun: #F9C130;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: var(--white);
}

/* Formatação das Paginas */
.mainPadrao {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--fundo);
}

.formatacao {
    margin-top: 60px;
    width: 94.21%;
    height: 100%;
    padding-left: 72px;
    padding-right: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    cursor: pointer;
}