header{
    width: 100%;
}

.allElements{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.imgLogoNav{
    width: 90px;
    height: 90px;
}

.titleNav{
    font-family: 'Bonello';
    font-size: 45px;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

ul{
    background-color: var(--fruit);
    padding-left: 19px;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 19px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li{
    list-style: none;
    font-family: 'Retro British';
    font-size: 19px;
    font-weight: 100;
    color: var(--white-font);
    font-weight: 100;
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 1px;
}

.imgPerfil{
    width: 50px;
    height: 50px;
    background-color: #00000000;
    border: none;
}