.bg1 { 
    background-image: url(../../assets/img-comp/card-filmes.png);
    background-size: cover;
    background-position: center; 
}    
.bg2 { 
    background-image: url(../../assets/img-comp/card-filmes-verde.png);
    background-size: cover;
    background-position: center; 
}    
.bg3 { 
    background-image: url(../../assets/img-comp/card-filmes-roxo.png);
    background-size: cover;
    background-position: center; 
}      
.bg4 { 
    background-image: url(../../assets/img-comp/card-filmes-amarelo.png);
    background-size: cover;
    background-position: center;
}   


.containerCard{
    width: 690px;
    height: 950px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgFilmePoster{
    width: 520px;
    height: 760px;
    margin-top: 74px;
    margin-bottom: 77px;
    margin-left: 59px;
    margin-right: 61px;
}