.adminContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.adminCard{
    width: 413px;
    height: 333px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--black);
}

.adminCard h3{
    font-family: 'Retro British';
    font-size: 32px;
    margin-top: 30px;
}

.adminCard p{
    font-family: 'Modern Sans';
    font-size: 22px;
    font-weight: 600;
}

.cardLaranja{
    background-color: var(--sunset);
}

.cardRosa{
    background-color: var(--gum);
}

.cardAmarelo{
    background-color: var(--sun);
}