.containerInfoHome {
    margin-top: 60px;
    padding-top: 20px;
    background-color: var(--berry);
    width: 100%;
    height: 400px;
    border-radius: 14px;
}

.containerLinks {
    margin-top: 32px;
    width: 100%;
    height: 475px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filmesNovos {
    background-color: var(--tea);
    width: 541px;
    height: 450px;
    border-radius: 14px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.titleContainer {
    font-family: 'Retro British';
    font-size: 25px;
    color: var(--text-color);
}

#recebeFilmesNovos{
    display: flex;
    margin-top: 20px;
    gap: 40px;
}

.containerDecoracao {
    width: 58%;
    height: 475px;
    background-image: url(../assets/img-comp/content-films1.png);
    background-size: cover;
    background-position: center;
    border-radius: 14px;
}

.bordaBranca{
    background-color: var(--fundo);
    width: 690px;
    height: 370px;
    display: flex;
    justify-content: left;
    align-items: self-start;
    border-bottom-right-radius: 14px;
}

.LinkHomeAddFilmes{
    background-color: var(--sunset);
    width: 600px;
    height: 300px;
    border-radius: 14px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.imgCardDecoration1{
    margin-top: 96px;
    width: 100%;
    height: 420px;
}