@font-face {
    font-family: 'Modern Sans';
    src: url(../assets/fonts/modern_sans/ModernSans-Light.otf) format(truetype);
}

@font-face {
    font-family: 'Bonello';
    src: url(../assets/fonts/bonello/Bonello-Regular.otf) format(truetype);
}

@font-face {
    font-family: 'Retro British';
    src: url(../assets/fonts/retro_british/RetroBritish-DemoVersion-Regular.otf) format(truetype);
}

.mainLogin {
    display: flex;
    position: relative;
    z-index: 1;
}

.imgLoginFilme {
    position: relative;
    z-index: 2;
    width: 40%;
    height: 100%;
}

.imgDeperente {
    width: 100vh;
    height: 130vh;
}

.imgFundoLogin {
    position: relative;
    z-index: 3;
    right: 12.3rem;
    width: 100%;
    height: 100%;
}

.fundoForm {
    width: 150vh;
    height: 130vh;
}

.containerLogin {
    position: relative;
    z-index: 4;
    right: 45rem;
    width: 550px;
}

.imgLogo {
    position: relative;
    z-index: 5;
    width: 150px;
    height: 150px;
    top: 60px;
    left: 150px;
}

.tituloBoasVindas {
    width: 500px;
    position: relative;
    z-index: 6;
    right: 290px;
    font-family: 'Retro British';
    font-size: 50px;
}

.tituloNomeSite {
    width: 500px;
    position: relative;
    z-index: 7;
    right: 250px;
    bottom: 20px;
    font-family: 'Bonello';
    font-weight: 500;
    font-size: 50px;
}

.textInfo {
    position: relative;
    z-index: 8;
    right: 250px;
    bottom: 20px;
    font-family: 'Modern Sans';
    font-size: 40px;
}


.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 8;
    right: 150px;
    top: 50px;
    width: 50%;
    height: auto;
    font-family: 'Modern Sans';

    label {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 5px;
        text-align: left;
        width: 500px;
    }

    input {
        width: 500px;
        height: 50px;
        padding-left: 10px;
        font-size: 20px;
        border: solid 4px #FF87B4;
        border-radius: 14px;
        margin-bottom: 20px;
    }

    .btnEntrar {
        background-color: #FE9947;
        margin-top: 50px;
        border: none;
        width: 350px;
        height: 80px;
        font-family: 'Retro British';
        font-size: 30px;
        border-radius: 14px;
    }

    .linkss{
        background-color: var(--gum);
        font-family: 'Retro British';
        font-size: 22px;
        width: 250px;
        text-align: center;
        margin-top: 40px;
        border-radius: 14px;
        padding: 5px;
    }
}