.containerFiltro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 46px;
}

.divisaoFiltro{
    display: flex;
    align-items: center;
    justify-self: center;
}

.filtroInput {
    width: 648px;
    height: 56px;
    background-color: var(--light-green);
    border: var(--forest) 4px solid;
    border-radius: 14px;
    padding-left: 20px;
    margin-right: 19px;
}

.filtroBtnBusca {
    background-color: var(--berry);
    border: none;
    border-radius: 14px;
    height: 56px;
    width: 56px;
}

.bi-search {
    width: 40px;
    height: 40px;
}

.selecionaFiltro{
    width: 100%;
}

.divisaoFiltro2{
    margin-top: 28px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardSelecionaFiltro{
    cursor: pointer;
    transition: all 0.2s ease;
    width: 196px;
    height: 46px;
    background-color: var(--white);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* SUAS CORES PERSONALIZADAS */

.cardSelecionaFiltro.juice {
    background-color: var(--white);
    border-color: var(--juice);
    color: var(--juice);
}

.cardSelecionaFiltro.berry {
    background-color: var(--white);
    border-color: var(--berry);
    color: var(--berry);
    /* O texto branco pode ficar ruim aqui? Se sim: */
    /* color: #000; */
}

.cardSelecionaFiltro.fruit {
    background-color: var(--white);
    border-color: var(--fruit);
    color: var(--fruit)
}

.cardSelecionaFiltro.dry {
    background-color: var(--white);
    border-color: var(--dry);
    color: var(--dry);
}

.textFiltro1{
    font-family: 'Retro British';
    font-size: 20px;
    color: var(--fruit);
}

.btnFiltro{
    background-color: var(--sunset);
    width: 53px;
    height: 56px;
    border-radius: 14px;
    border: none;
}

.bi-funnel-fill{
    width: 40px;
    height: 40px;
}