
.profileMenuContainer {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 350px;
    height: 550px;
    background-color: var(--fruit);
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}

.profileIconLarge {
    width: 100%;
    height: 100px;
    background-color: var(--white-font);
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.profileIconLarge img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


/* Os Links (Botões coloridos) */
.profileLinks {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menuItem {
    display: block;
    width: 100%;
    padding: 12px 0;
    font-family: 'Retro British', serif;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}


.itemPinkPattern {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-image: url(../../assets/img-comp/Card2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--text-color);
}

.itemYellowPattern {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-image: url(../../assets/img-comp/Card1.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--text-color);
}

.itemGreenPattern {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-image: url(../../assets/img-comp/card3.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--text-color);
}

.itemCheckPattern {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-image: url(../../assets/img-comp/card4.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--text-color);
}


.itemPinkPattern p {
    background-color: var(--gum);
    width: 300px;
    border-radius: 14px;
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
}

.itemYellowPattern p {
    background-color: var(--sun);
    width: 300px;
    border-radius: 14px;
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
}

.itemGreenPattern p{
    background-color: var(--olive);
    width: 300px;
    border-radius: 14px;
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
}

.itemCheckPattern p{
    background-color: var(--berry);
    width: 300px;
    border-radius: 14px;
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
}


/* Botão Sair (Rosa Escuro no final) */
.btnLogout {
    background-color: var(--fruit);
    color: white;
    margin-top: 10px;
    height: 100px;
    font-size: 25px;
    padding-bottom: 30px;
}


.profileName {
    color: var(--white-font);
    font-family: 'Retro British', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0 5px 0;
    /* Margem ajustada */
    text-align: center;
    text-transform: uppercase;
}