.bg1 { 
    background-image: url(../../assets/img-comp/card-filmes.png);
    background-size: cover;
    background-position: center; 
}    
.bg2 { 
    background-image: url(../../assets/img-comp/card-filmes-verde.png);
    background-size: cover;
    background-position: center; 
}    
.bg3 { 
    background-image: url(../../assets/img-comp/card-filmes-roxo.png);
    background-size: cover;
    background-position: center; 
}      
.bg4 { 
    background-image: url(../../assets/img-comp/card-filmes-amarelo.png);
    background-size: cover;
    background-position: center;
}   


.btnColor1 { 
    background-color: var(--butter);
    font-family: 'Retro British';
    font-size: 1.7rem;
    border: 0px;
    border-radius: 14px;
    width: 150px; 
    padding: 5px;
} /* amarelo claro */
.btnColor2 { 
    background-color: var(--olive);
    font-family: 'Retro British';
    font-size: 1.7rem;
    border: 0px;
    border-radius: 14px;
    width: 150px; 
    padding: 5px;
} /* verde amarelado claro */
.btnColor3 { 
    background-color: var(--iced);
    font-family: 'Retro British';
    font-size: 1.7rem;
    border: 0px;
    border-radius: 14px;
    width: 150px; 
    padding: 5px;
} /* azul claro */
.btnColor4 { 
    background-color: var(--peach);
    font-family: 'Retro British';
    font-size: 1.7rem;
    border: 0px;
    border-radius: 14px;
    width: 150px; 
    padding: 5px;
} /* laranja claro */


.containerCardFilmes{
    margin-top: 90px;
    width: 326px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posterFilmeImg{
    width: 250px;
    height: 350px;
    object-fit: cover;
}